<div class="layout layout--row">
  <div class="grid grid--cols-5">
    <div class="col col--span-3">

      <!-- Alerts go here -->
      <div id="alerts-list" class="richtext columns gap--none">
        {% if relevant_alert %}
          <div class="p--2 mb--2 border--h-1" style="display: flex; align-items: flex-start;">
            <div style="flex: 0 0 28px; display: flex; align-items: center; justify-content: center; height: 100%;">
              {{ warning_svg }}
            </div>
            <div style="flex: 1 1 0; min-width: 0; margin-left: 0.75em;">
              <div class="title title--small clamp--2" style="word-break: break-word;">
                {{ relevant_alert.alert.header_text.translation.first.text | default: 'Service Alert' }}
              </div>
              <div class="description clamp--2" style="word-break: break-word;">
                {{ relevant_alert.alert.description_text.translation.first.text | default: 'No description available' }}
              </div>
            </div>
          </div>
        {% endif %}
      </div>

      <div class="item mb--3">
        <div class="meta"></div>
        <div class="content">
          <span class="label label--small">Route</span>
          <span
            id="route-name"
            class="value value--small"
            data-value-fit="true">
            {% if next_trip %}
              {{ next_trip.trip.route.route_short_name | default: '' }}{% if next_trip.trip.route.route_short_name and next_trip.trip.route.route_long_name %} - {% endif %}{{ next_trip.trip.route.route_long_name | default: '' }}
            {% else %}
              -
            {% endif %}
          </span>
        </div>
      </div>
      <div class="item mb--3">
        <div class="meta"></div>
        <div class="content">
          <span class="label label--small">Next Trip</span>
          <span
            id="trip-name"
            class="value value--small"
            data-value-fit="true">
            {% if next_trip %}
              {{ next_trip.trip.trip_headsign | default: 'No destination' }}
            {% else %}
              No more trips for today
            {% endif %}
          </span>
        </div>
      </div>
      <div class="item mb--3">
        <div class="meta"></div>
        <div class="content">
          <span class="label label--small">Departs</span>
          <span
            id="departs"
            class="value value--small"
            data-value-fit="true">
            {% if next_trip.trip and formatted_departure_time %}
              <div>{{ formatted_departure_time }}</div>
              <div class="label label--small">{{ time_until_display | default: 'calculating...' }}</div>
            {% else %}
              -
            {% endif %}
          </span>
        </div>
      </div>
      <!-- Show future trips -->
      <div id="future">
        {% if upcoming_trips != blank %}
          <div class="item">
            <div class="meta"></div>
            <div class="content">
              <div class="label label--small">Future Trips</div>
              {{ upcoming_trips }}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
    <div class="col col--span-2">
      <div id="wego-map" class="wego-map" style="overflow: hidden;">
        <div class="h--96" id="wego-map-canvas">Loading ...</div>
      </div>
    </div>
  </div>
</div>

<div class="title_bar">
  <img class="image" src="data:image/svg+xml;base64,{{ bus_svg | base64_encode }}" />
  <span class="title">{{ stop.stop_name | default: 'Stop Not Found' }}</span>
  <span class="instance">{{ trmnl.plugin_settings.instance_name }}</span>
</div>
