{% if trmnl.plugin_settings.custom_fields_values.wego_display == 'alerts' %}
<div class="layout layout--row">
  <div class="column"
    data-list-limit="true"
    data-list-max-height="150"
    data-list-hidden-count="true"
    data-list-max-columns="1"
  >
    {% for alert in alerts %}
      {% render "alert" with alert: alert %}
    {% else %}
      <span class="description">No active system alerts</span>
    {% endfor %}
  </div>
</div>

<div class="title_bar">
  <img class="image" src="data:image/svg+xml;base64,{{ bus_svg | base64_encode }}"/>
  <span class="title">System Alerts</span>
</div>

{% else %}
<div class="layout layout--row">
  <div class="grid grid--cols-1">
    <div class="col col--span-1">
      <div class="item mb--2">
        <div class="meta"></div>
        <div class="content">
          <span class="label label--small">Route</span>
          <span
            id="route-name"
            class="value value--xxsmall"
            data-value-fit="true">
            {% if next_trip %}
              {% assign next_route = routes | where: 'route_gid', next_trip.route_gid | first %}
              {{ next_route.route_short_name | default: '' }}{% if next_route.route_short_name and next_route.route_long_name %} - {% endif %}{{ next_route.route_long_name | default: '' }}
            {% else %}
              -
            {% endif %}
          </span>
        </div>
      </div>
      <div class="item mb--2">
        <div class="meta"></div>
        <div class="content">
          <span class="label label--small">Next Trip</span>
          <span
            id="trip-name"
            class="value--xxsmall"
            data-value-fit="true">
            {% if next_trip %}
              {{ next_trip.trip_headsign | default: 'No destination' }}
            {% else %}
              No more trips for today
            {% endif %}
          </span>
        </div>
      </div>
      <div class="grid grid--cols-2">
        <div class="item col--span-1">
          <div class="meta"></div>
          <div class="content">
            <span class="label label--small">Departs</span>
            <span
              id="departs"
              class="value value--xsmall"
              data-value-fit="true">
              {% if next_trip and formatted_departure_time %}
                <div>{{ formatted_departure_time }}</div>
                <div class="label label--small">In {{ time_until_display | default: 'calculating...' }}</div>
              {% else %}
                -
              {% endif %}
            </span>
          </div>
        </div>
        <div id="future" class="col--span-1">
          {% if upcoming_trips != blank %}
            <div class="item">
              <div class="meta"></div>
              <div class="content">
                <div class="label label--small">Future</div>
                {{ upcoming_trips }}
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="title_bar">
  <img class="image" src="data:image/svg+xml;base64,{{ bus_svg | base64_encode }}"/>
  <span class="title">{{ stop.stop_name | default: 'Stop Not Found' }}</span>
</div>
{% endif %}
